.gridContainer{
  display: grid;
  grid-template-columns: 0.6fr 2fr;
  grid-template-rows: 0.3fr 2fr 0.3fr;
  grid-template-areas: 
  'sidebar header'
  'sidebar content'
  'sidebar footer';
  row-gap: 5px;
  height: 100vh;
  background-color: rgb(244,245,250);
}
