
.create-wave {
  width: 1144px;
  height: 908px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  box-shadow: 7px 6px 14px 0px rgba(0, 0, 0, 0.04);
  display: block;
  margin: auto;
  margin-bottom: 30px;
}
.crtewve-section {
  display: flex;
  justify-content: space-around;
  width: 1144px;
  height: 154px;
  border-radius: 10px;
  background: #c5b084;
  box-shadow: 7px 6px 14px 0px rgba(0, 0, 0, 0.04);
  margin: 0px auto;
}
/* .crtewve-form {
  width: 1144px;
  height: 654px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  box-shadow: 7px 6px 14px 0px rgba(0, 0, 0, 0.04);
  margin: 0px auto;
} */
p {
  color: #3c3d3e;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.8;
}
.write {
  width: 1068px;
  height: 100px;
  border-radius: 5px;
  border: 1px solid rgba(62, 86, 119, 0.2);
  background: #fff;
}
.update-btn {
  width: 205px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #3e5677;
  margin: 20px 0px 0px 0px;
}
.search {
  display: flex;
  width: 1028px;
  height: 50px;
  padding: 13px 749px 12px 15px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #a9a9a9;
  background: #fff;
}
.waveprofile-box {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 630px;
}
.wave-form {
  padding-left: 40px;
  padding-top: 56px;
}
.wave-form2 {
  padding-left: 40px;
  padding-top: 20px;
}
.write-input {
  color: #535c61;
  font-family: Nunito;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 5px;
}
.write-something {
  width: 1068px;
  height: 100px;
  border-radius: 5px;
  border: 1px solid rgba(62, 86, 119, 0.2);
  background: #fff;
  padding-top: 7px;
  padding-left: 7px;
}
textarea {
  resize: none;
}
.show-profile {
  width: 63px;
  height: 62px;
  border-radius: 63px;
  border: 1px solid #fff;
  /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
}
.creater {
  color: #bb8e01;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: none;
  border: none;
}
.wave {
  color: #535c61;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.waveshow {
  width: 1059px;
  height: 72px;
  border-radius: 11px;
  background: #eef5f6;
  display: flex;
  justify-content: space-between;
  margin-left: 37px;
  margin-top: 10px;
}
.waveshow-sub {
  width: 300px;
  height: 72px;
  border-radius: 11px;
  background: #eef5f6;
  display: flex;
  justify-content: flex-start;
  padding-top: 5px;
  padding-bottom: 10px;
}
.active {
    display: flex;
    width: 95px;
    height: 44px;
    padding: 5px 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    background: #02480d;
    margin-right: 59px;
    margin-top: 15px;
}
.inactive {
  border-radius: 50px;
background: #B50E03;
}
.status-a {
    color: #EEF5F6;
    text-align: right;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 15px;
}
.status-i {
    padding-left: 6px;
}
.wave-detail{
  padding-top: 8px;
  padding-left: 15px;
  width: 210px;
}
