.makewave-section {
  width: 1144px;
  height: 370px;
  border-radius: 11px;
  background: #fff;
  display: block;
  margin: auto;
  margin-top: 51px;
 
}
.dasboard-section2 {
  width: 1144px;
  height: 270px;
  border-radius: 11px;
  background: #fff;
  display: block;
  margin: auto;
  margin-top: 51px;
  margin-bottom: 40px;
}
.waves {
  display: flex;
  padding-top: 47px;
  justify-content: space-between;
}
.makewave-heading {
  width: 320.09px;
  height: 20px;
  flex-shrink: 0;
  color: #292929;
  font-family: Nunito;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  padding-top: 20px;
  padding-left: 20px;
}
.makewaveshow-sub {
  width: 320px;
  height: 135px;
  border-radius: 11px;
  /* background: #eef5f6; */
  display: flex;
  justify-content: flex-start;
  padding-top: 5px;
  padding-left: 20px;
}
.vl {
  width: 1px;
  height: 74px;
  background: rgba(77, 113, 127, 0.25);
  margin-top: 11px;
}
.wave-detail p {
  padding-top: 2px;
  width: 200px;
  overflow: hidden; /* Hide the overflow */
  text-overflow: ellipsis; /* Show ellipsis (...) when text overflows */
}
.dukenile {
  color: #1d2668;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  background: none;
  border: none;
}
.smile {
  color: #535c61;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  /* width: 125px; */
}
.jildeeone {
  color: #8e9ba1;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  background: none;
  border: none;
}
.getting {
  color: #535c61;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.frnd-acpt {
  display: flex;
  padding-top: 23px;
  justify-content: space-around;
}
.invisible {
  background: none;
  border: none;
}
