@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Oswald:wght@300;700&family=Roboto:wght@400;500&family=Titillium+Web&display=swap");
.container {
  padding: 7px;
}
.frndinfo-section {
  width: 608px;
  height: 420px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 7px 6px 14px 0px rgba(0, 0, 0, 0.04);
  display: block;
  margin: auto;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
/* .frnd-head {
  width: 596px;
  height: 103px;
  border-radius: 10px;
  background: #c5b084;
  box-shadow: 7px 6px 14px 0px rgba(0, 0, 0, 0.04);
  display: flex;
  justify-content: flex-start;
  padding-left: 40px;
}
.close {
  width: 21px;
  font-size: 30px;
  color: white;
  margin-left: 375px;
  margin-bottom: 50px;
  border: none;
  background: black;
} */
.frndphoto {
  width: 107px;
  height: 101px;
  border-radius: 41px;
  background: lightgray 0px -5.827px / 100% 150% no-repeat, #fefefe;
  margin-top: 45px;
}
.id {
  padding-top: 4px;
}
.frnddetail {
  padding-left: 40px;
  padding-top: 25px;
  width: 300px;
}
.basic {
  width: 131px;
  color: #3c3d3e;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  padding-top: 62px;
  padding-left: 28px;
}
.user-info {
  display: flex;
  justify-content: space-between;
  padding: 3px 15px;
  /* border: 1px solid #ddd; */
  margin: 0px 20px;
}
.user-info p {
  padding-top: 17px;
}
.vl-frnd {
  width: 1px;
  height: 179px;
  background: rgba(77, 113, 127, 0.25);
  margin-top: 19px;
}
.frnd-head {
  position: relative; /* Add this line */
  width: 596px;
  height: 103px;
  border-radius: 10px;
  background: #c5b084;
  box-shadow: 7px 6px 14px 0px rgba(0, 0, 0, 0.04);
  display: flex;
  justify-content: flex-start;
  padding-left: 40px;
}

.cross {
  position: absolute;
  top: 0px;
  right: 10px;
  width: 21px;
  font-size: 30px;
  color: white;
  border: none;
  background: none;
}
