.container {
  padding: 10px;
}
.waveinfo-section {
  width: 725px;
  height: 549px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 7px 6px 14px 0px rgba(0, 0, 0, 0.04);
  display: block;
  margin: auto;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
.wave-head {
  width: 710px;
  height: 134px;
  border-radius: 10px;
  background: #c5b084;
  box-shadow: 7px 6px 14px 0px rgba(0, 0, 0, 0.04);
  display: flex;
  justify-content: flex-start;
  padding-left: 40px;
}
.userphoto {
  width: 133.553px;
  height: 146.4px;
  border-radius: 146.4px;
  border: 1px solid #fff;
  background: lightgray 50% / cover no-repeat;
  margin-top: 45px;
}
.userdetail {
  padding-left: 30px;
  padding-top: 20px;
}
.id {
  padding-top: 20px;
}
.modalphoto {
  width: 338px;
  height: 168px;
  background: lightgray 50% / cover no-repeat;
}
.horizontal {
  display: flex;
  justify-content: space-between;
  width: 698px;
  padding-top: 8px;
}
.message-heading {
  width: 113.281px;
  height: 24.836px;
  color: #3c3d3e;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px; /* 118.75% */
}
.msg-value {
  width: 264px;
  height: 28px;
  color: #3c3d3e;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 20px;
}
.about-wave {
  padding-top: 70px;
  padding-left: 40px;
}
.vl-wave {
  width: 1px;
  height: 169px;
  background: rgba(77, 113, 127, 0.25);
  margin-right: 30px;
}
.vl-img {
  display: flex;
  justify-content: space-between;
  /* width: 200px; */
}
.comments {
  width: 205px;
  height: 50px;
  border-radius: 10px;
  background: #3e5677;
  margin-top: 41px;
}

.quote-container {
  display: flex;
  justify-content: space-between;
}

.user-quote {
  opacity: 0.8;
  color: #3c3d3e;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 42px;
  padding-top: 4px;
}

.edit,
.delete {
  text-decoration: none;
  /* padding: 5px 10px; */
  cursor: pointer;
}
.actions {
  width: 47px;
  height: 29px;
  color: #0981f9;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.8;
  padding-left: 8px;
  border: none;
  background: none;
}
.comment {
  padding-top: 20px;
}
.links {
  padding-right: 30px;
}
a {
  padding-left: 0px;
}
.close {
  width: 21px;
  /* background: #B18D4B; */
  font-size: 30px;
  color: white;
  margin-left: 225px;
  border: none;
  background: none;
}
