.searchInput {
    text-align: left;
    width: 90%;
    height: 50px;
    border: 12px;
    border: 1px solid #ccc;
    border-radius: 26px;
    margin: 12px 0;
    outline: none;
    padding-left: 25px;
}