.customButton {
    width: 200px;
    height: 50px;
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(62,86,119);
    color: #fff;
    border: none;
    cursor: pointer;
}  
.customButton:hover {
    background-color: rgb(47, 72, 107);
  }
  
  /* Additional styles for the show/hide password button */
.customButton[type="button"] {
    margin-top: 8px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  };
  
.customButton[type="button"]:hover {
    text-decoration: underline;
  }