.profile-section {
    display: flex;
    justify-content: space-around;
    width: 1144px;
    height: 150px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #c5b084;
    box-shadow: 7px 6px 14px 0px rgba(0, 0, 0, 0.04);
    margin: 0px auto;
  }
  .changeinfo {
    margin-top: 60px;
  }
  .chngeinfo-nav {
    width: 1144px;
    height: 35px;
    background: #fff;
    margin: 0px auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 7px 6px 14px 0px rgba(0, 0, 0, 0.04);
    display: flex;
    justify-content: flex-start;
  }
  .btn-1 {
    padding-left: 20px;
    padding-top: 14px;
  }
  .btn-2 {
    margin-left: 100px;
    padding-top: 14px;
  }
  .detail {
    background: none;
    border: none;
    color: #2e2e2e;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px; /* 118.75% */
  }
  .chngeinfo-section {
    width: 1144px;
    height: 654px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #fff;
    box-shadow: 7px 6px 14px 0px rgba(0, 0, 0, 0.04);
    margin: 7px auto;
  }
  .chngeinfo-form {
    width: 1144px;
    height: 454px;
    flex-shrink: 0;
    background: #fff;
    border-radius: 10px;
    margin-top: 40px;
  }
  .menu-basic {
    width: 95px;
    color: #3c3d3e;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
  }
  .basicdetail-input {
    width: 525px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid rgba(62, 86, 119, 0.2);
    background: #dcdcdc;
  }
  select {
    color: #535c61;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 12px;
    margin-top: 8px;
  }
  .asterisk {
    opacity: 0.8;
    color: #c52020;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .inputs-horizontal {
    display: flex;
    justify-content: space-around;
  }
  .update-basicdetails {
    width: 205px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #3e5677;
    margin: 20px 0px 0px 914px;
  }
  a {
    padding-left: 8px;
  }