.profileChangePicture {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: hsl(39, 40%, 60%);
    height: 130px;
    border-radius: 8px;
    background-color: rgb(197,176,132);
    margin: 0 22px;
    padding-left: 18px;
    padding-top: 18px;
   }
/*  Profile Form Styles */
#img-container {
  background: #bea370;
  display: flex;
  gap: 20px;
  margin-left: 40px;
  width: 940px;
  height: 110px;
  border-radius: 11px;
  padding-left: 20px;
  margin-bottom: 40px;
}

#profile-user-icon {
  border-radius: 156px;
  border: 1.5px solid #fff;
  background: transparent;
  width: 110px;
  height: 110px;
  margin-left: 30px;
  margin-top: 25px;
}

#upload-photo {
  color: #ffffff;
  line-height: 4px;
  margin-top: auto;
  margin-bottom: auto;
}

#upload-photo p {
  opacity: 0.8;
  font-style: italic;
}

#change-pic {
  color: #3e5677;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  text-transform: capitalize;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  background: #fff;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 50px;
}

#change-info {
  color: #292929;
  font-size: 20px;
  margin-left: 40px;
  width: 940px;
}

